* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-weight: bold;
    margin: 0;
}


p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}


.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    /*position: relative*/
    overflow: hidden;
}

.temperature-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container2 {
    height: 370px;
}

#csv {
    display: none;
}


.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


button {
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.buscar {
    border-radius: 20px;
    border: 1px solid #73D2F3;
    background: #73D2F3;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.buscar:hover {
    background-color: #141E61;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    background-image: url("../images/cielo-con-nubes.jpg");
}

input {
    background: #fff;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 40px;
    width: 50%;
}

.principal-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.detras-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}


.infoASIDE {
    width: 70%;

    color: white;
}


.figure {
    background-image: linear-gradient(to top right, #1a1a1a, transparent);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#vistaA {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

#vistaA h2 {
    margin-left: 10px;
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    bottom: 0.7em;
    color: #ffffff;
}

@media (max-width: 551px) {
    #vistaA h2 {
        text-align: center;
        font-size: 20px;
        position: initial;
    }
}

/*RELOJ + FECHA */
.wrap {
    width: 90%;
    max-width: 1000px;
    color: white;
    /*margin: auto;*/
    font-size: 16px;
}

.widget {
    margin: 2em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.widget p {
    display: inline-block;
    line-height: 1em;
}

.fecha {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 70%;
}

.reloj {
    font-size: 26px;
    text-align: center;
    width: 70%;
    padding: 20px;
    background: rgba(0, 0, 0, .5);
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
    font-size: 2rem;
    display: block;
}


.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: linear-gradient(to right, #4F81C7 0%, #141E61 51%, #4F81C7 100%);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

.simulador{
    margin-left: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 0.7em;
    color: #ffffff;
}

/* Animaciones */

/* Mover el panel principal a la derecha */
.container.right-panel-active .principal-container {
    transform: translateX(100%);
}

/*  Mover superposición (overlay) a la izquierda */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Traiga el pronostico extendido sobre el panel principal */
.container.right-panel-active .detras-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Mover superposición (overlay) de nuevo a la derecha */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}


.containerCards {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 100vh;
}

.card {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}

.card:hover {
    background-position: right center;
}

.card-1 {
    background-image: linear-gradient(to right, #d3b9fb 0%, #a6c1ee 51%, #d3b9fb 100%);
}

.card-2 {
    background-image: linear-gradient(to right, #8488fa 0%, #8fd3f4 51%, #8488fa 100%);
}

.card-3 {
    background-image: linear-gradient(to right, #4282eb 0%, #c2e9fb 51%, #4282eb 100%);
}

.card-4 {
    background-image: linear-gradient(to right, #82aae2 0%, #4F81C7 51%, #82aae2 100%);
}

.card-5 {
    background-image: linear-gradient(to right, #4F81C7 0%, #141E61 51%, #4F81C7 100%);
}

/* #82aae2 0%, #4F81C7 51%, #82aae2
#4F81C7 0%, #141E61 51%, #4F81C7*/



.future-forecast{
    padding: 25px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 3px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    margin-top: 25px;
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 12px;
}

#cartas{
    display: none;
}

.containerCardsInfo{
    display: flex;
    flex-wrap: wrap;
}

.entrar{
    margin-left: 50px;
    width: 86%;
}

@media (max-width: 1200px){
    .snip1581{
        width: 16vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .snip1581 h3 {
        font-size: 18px;
    }
    .snip1581 .title2 {
        font-size: 16px;
    }
    .snip1581 .title3{
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .card {
        width: 40%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
    }
    h5 {
        font-size: 16px;
    }
    input {
        width: 100%;
    }
    .buscar {
        width: 100%;
    }
    .weather-forecast .weather-forecast-item{
        overflow: hidden;
        width: 60px;
    }
}

@media (max-width: 769px){
    .weather-forecast .weather-forecast-item{
    overflow: hidden;
    width: 50px;
    margin-right: 1px;
    }
    .welcome{
        font-size: 16px;
    }
    .simulador{
        font-size: 10px;
    }
}


@media (max-width: 765px){
    .snip1581 {
        width: 10vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}


@media (max-width: 667px) {
    .card {
        width: 11vh;
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
    }
    .containerCards {
        margin: 10px;
    }
    input {
        width: 80%;
    }
    .buscar {
        width: 80%;
    }
    .ghost {
        padding: 10px;
        height: 40px;
    }
    .buscar {
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 35px;
    }
    .snip1581 {
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .highcharts-figure{
        display: none;
    }
    .weather-forecast .weather-forecast-item {
        display: none;
    }
    .future-forecast .today{
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .fecha {
        width: 150px;
    }
    .reloj {
        width: 150px;
    }
    .highcharts-description{
        width: 90px;
        margin: 1em auto;
    }
    .future-forecast .today{
        width: 150%;
    }
    .card{
        margin: 3px;
    }
    h5{
        font-size: 10px;
    }
}

@media (max-width: 400px){
    .future-forecast{
        padding: 0;
        margin-bottom: 20px;
    }
    #cartas{
        width: 100px
    }
    .entrar{
        margin: 0;
        font-size: 6px;
    }
    .welcome{
        font-size: 13px;
    }
}